/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
	text-align: center;
	&__inner {
		background: $color3;
		color: #fff;
		padding: 40px 0;
		@include sp {
			padding: 30px 0;
		}
	}
	&__innersp {
		background: $color4;
		padding: 30px 15px;
	}
	&__logo {
		margin-bottom: 25px;
		@include sp {
			margin-bottom: 27px;
		}
		img {
			max-width: 100%;
			height: auto;
			@include sp {
				width: 160px;
			}
		}
	}
	&__text {
		font-size: 1.3rem;
		line-height: 1.6;
		margin-bottom: 14px;
		@include sp {
			margin-bottom: 16px;
		}
		p + p {
			margin-top: 14px;
			@include sp {
				margin-top: 13px;
			}
		}
	}
	&__text2 {
		font-size: 1.4rem;
		color: $color1;
	}
	&__link {
		margin-bottom: 33px;
		@include sp {
			margin-bottom: 24px;
		}
		a {
			text-decoration: none;
			font-size: 1.2rem;
			color: #fff;
			padding-left: 8px;
			position: relative;
			&:before {
				content: "";
				width: 5px;
				height: 5px;
				border-top: 1px solid #fff;
				border-right: 1px solid #fff;
				position: absolute;
				top: 5px;
				left: -5px;
				transform: rotate(45deg);
			}
		}
	}
	&__copyright {
		font-size: 1.2rem;
		@include sp {
			font-size: 1.1rem;
		}
	}
	&__title {
		margin-bottom: 26px;
		p {
			display: block;
			width: 100%;
			background: #fff;
			border-radius: 50px;
			text-decoration: none;
			font-size: 1.4rem;
			color: #002C46;
			padding: 11px 0 12px;
		}
	}
	&__phone {
		margin: 7px 0 17px;
		a {
			text-decoration: none;
			font-size: 3.2rem;
			color: #191919;
			padding-left: 10px;
			@include myriad();
			position: relative;
			&:before {
				content: "";
				width: 24px;
				height: 19px;
				background-image: url(/assets/img/common/icon2.png);
				background-size: cover;
				position: absolute;
				top: 50%;
				left: -22px;
				transform: translateY(-50%);
			}
		}
	}
	&__toTop {
		a {
			display: block;
			text-decoration: none;
			font-size: 1.4rem;
			color: #002045;
			background: #fff;
			padding: 16px 2px 16px 0;
			position: relative;
			&:after {
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				border-left: 1px solid #002045;
				border-top: 1px solid #002045;
				transform: rotate(45deg);
				margin: 0 0 -2px 8px;
			}
		}
	}
	.c-btn1 {
		margin: 16px 0 0;
		width: 100%;
		height: 47px;
		a {
			font-size: 1.8rem;
			padding-left: 0;
			&:before, &:after {
				position: static;
			}
			&:before {
				margin: 0 8px 0 -8px;
			}
			&:after {
				margin: 0 -8px 0 8px;
			}
		}
	}
}

/* to top
------------------------------------------------------------*/
.c-top {
	display: none;	
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	a {
		display: block;
		width: 40px;
		height: 40px;
		background: url(/assets/img/common/top.png) no-repeat center;
		cursor: pointer;
		&:hover {
			opacity: 1;
			background: url(/assets/img/common/top_hover.png) no-repeat center;
		}
	}
}