/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header {
	@include sp {
		width: 100%;
		height: 48px;
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		border-bottom: 1px solid #ddd;
	}
	&__inner {
		width: 100%;
		height: 75px;
		max-width: $baseWidth1;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2.15%;
		@include sp {
			height: 48px;
			justify-content: center;
			padding: 0;
			position: relative;
			z-index: 999;
		}
	}
	&__logo {
		img {
			max-width: 100%;
			height: auto;
			@include sp {
				width: 145px;
			}
		}
	}
	&__navi {
		width: 65%;
		text-align: center;
		padding-right: 4.5%;
		@include sp {
			text-align: left;
			width: 100%;
			height: 100%;
			padding-bottom: 63px;
			overflow: scroll;
			background: #E5E9EC;
			padding-right: 0;
			position: fixed;
			right: -100%;
			top: 48px;
			transition: all 0.4s;
			&.is-active {
				right: 0;
			}
		}
	}
	&__menu {
		li {
			display: inline-block;
			@include sp {
				display: block;
				border-bottom: 1px solid #fff;
			}
		}
		a {
			text-decoration: none;
			font-size: 1.4rem;
			color: $color1;
			padding: 5px 13px;
			display: inline-block;
			@include sp {
				padding: 13px 30px 13px 15px;
				display: block;
				position: relative;
				&:after {
					content: "";
					width: 8px;
					height: 8px;;
					border-top: 1px solid #023046;
					border-right: 1px solid #023046;
					position: absolute;
					top: 50%;
					right: 19px;
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
	}
	&__menuSP {
		margin-top: 20px;
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0 15px;
			li {
				width: 47.7%;
				&:nth-child(2) {
					span {
						margin-top: 31px;
					}
				}
			}
		}
		span {
			display: block;
			margin-top: 16px;
		}
		a {
			display: block;
			text-align: center;
			width: 100%;
			height: 100%;
			text-decoration: none;
			font-size: 1.8rem;
			line-height: 1.3;
			color: #013046;
			background: #fff;
			border-radius: 3px;
			box-sizing: border-box;
			padding: 20px 11px 16px;
		}
	}
	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}
}