/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
	@include sp {
		padding-top: 48px;
	}
}

/*
------------------------------------------------------------*/
.l-container {
	width: 100%;
	max-width: $baseWidth2;
	margin: 0 auto;
	@media screen and (max-width: $baseWidth2 + 30px) {
		padding: 0 15px;
	}
}
