/*------------------------------------------------------------
side
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-sideFrame1 {
	@include sp {
		background: #F6F6F4;
		padding: 42px 15px 34px;
	}
	&__head {
		margin-bottom: 49px;
		@include sp {
			margin-bottom: 18px;
		}
		p {
			font-size: 2rem;
			color: #013046;
			@include mincyo();
		}
	}
	&__body {
		a {
			text-decoration: none;
			font-size: 1.4rem;
			color: #191919;
		}
		ul {
			li {
				margin-bottom: 22px;
				@include sp {
					margin-bottom: 12px;
				}
			}
		}
	}
}