//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
	"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@mixin mincho() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
	"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
// font Gidole
@font-face {
	font-family: "Gidole", sans-serif;
	src: url(/assets/font/gidole-regular.woff2) format('woff2');
	src: url(/assets/font/gidole-regular.woff) format('woff');
}
@mixin gidole() {
	font-family: "Gidole", sans-serif;
}
// font Myriad Pro
@mixin myriad {
	font-family: "Myriad Pro", sans-serif;
}

//============================================
// breakpoint
//============================================
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}
