//baseWidth
$baseWidth1: 1400px;
$baseWidth2: 980px;

// Breakpoint
$breakpoint1: 767px;
$breakpoint2: 480px;

// Common Colors
$color1: #002145;
$color2: #073145;
$color3: #023046;
$color4: #E5E9EC;
$color5: #E3E1DD;
$color6: #013046;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
