/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
	width: 180px;
	height: 36px;
	min-width: 180px;
	a {
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		@include gidole();
		letter-spacing: 1px;
		color: #fff;
		background: $color2;
		border-radius: 2px;
		padding-left: 18px;
		box-sizing: border-box;
		position: relative;
		&:before {
			content: "";
			width: 19px;
			height: 17px;
			background-image: url(/assets/img/common/icon1.png);
			background-size: cover;
			position: absolute;
			top: 9px;
			left: 13px;
		}
		&:after {
			content: "";
			width: 6px;
			height: 6px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			position: absolute;
			top: 14px;
			right: 12px;
			transform: rotate(45deg);
		}
	}
}