/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
	border-bottom: 1px solid $color5;
	padding: 0 90px 20px 0;
	position: relative;
	@include sp {
		padding: 0 0 23px;
	}
	&__text {
		font-size: 2.4rem;
		color: $color6;
		@include mincyo();
		@include sp {
			font-size: 2rem;
			text-align: center;
		}
	}
	&__link {
		text-decoration: none;
		font-size: 1.4rem;
		color: $color6;
		position: absolute;
		top: 11px;
		right: 15px;
		&:after {
			content: "";
			width: 7px;
			height: 7px;
			border-top: 1px solid $color6;
			border-right: 1px solid $color6;
			position: absolute;
			top: 6px;
			right: -12px;
			transform: rotate(45deg);
		}
	}
}

/*
------------------------------------------------------------*/
.c-title2 {
	text-align: center;
	&__text {
		font-size: 2.6rem;
		color: $color6;
		@include mincyo();
	}
}