/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-icon1 {
	$root: &;
	position: relative;
	width: 55px;
	height: 48px;
	display: inline-block;
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	//------------------------------------------------------
	&__line {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 25px;
		height: 1px;
		background-color: #033046;
		transform-origin: 5px 1px;
		&:nth-of-type(1) {
			top: 16px;
		}
		&:nth-of-type(2) {
			top: 23px;
		}
		&:nth-of-type(3) {
			top: 31px;
		}
	}
	//------------------------------------------------------
	&.is-active {
		#{$root}__line {
			width: 31px;
			&:nth-of-type(1) {
				transform: rotate(45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: rotate(-45deg);
			}
		}
	}
}