/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text {
	font-size: 1.4rem;
	color: #191919;
	line-height: 1.6;
	h3 {
		font-size: 1.6rem;
		color: #013046;
		font-weight: normal;
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 30px;
		@include sp {
			margin-bottom: 32px;
		}
	}
	ul {
		margin: -28px 0 33px;
		@include sp {
			margin: -30px 0 30px;
		}
		li {
			&:before {
				content: "・";
			}
		}
	}
	&__right {
		text-align: right;
		margin-top: 52px;
		@include sp {
			margin-top: 39px;
		}
	}
}