/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-navi1 {
	ul {
		display: flex;
		justify-content: space-between;
	}
	a {
		display: inline-block;
		text-decoration: none;
		font-size: 1.4rem;
		color: #013046;
		padding: 10px 15px;
		position: relative;
		&:after {
			content: "";
			width: 8px;
			height: 8px;
			border-bottom: 1px solid #013046;
			border-left: 1px solid #013046;
			position: absolute;
			top: 15px;
		}
	}
	&__back {
		a:after {
			left: 2px;
			transform: rotate(45deg);
		}
	}
	&__next {
		a:after {
			right: 2px;
			transform: rotate(-135deg);
		}
	}
}