/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	li {
		font-size: 1.4rem;
		border-bottom: 1px solid $color5;
		padding: 26px 0 28px;
		display: flex;
		@include sp {
			font-size: 1.2rem;
			display: block;
			padding: 11px 0 12px;
		}
		span {
			display: inline-block;
			color: $color6;
			width: 102px;
			@include sp {
				width: 100%;
				display: block;
				margin-bottom: 2px;
			}
		}
		a {
			text-decoration: none;
			color: #191919;
		}
	}
}

/*
------------------------------------------------------------*/
.c-list2 {
	li {
		margin-bottom: 32px;
	}
	&__title {
		font-size: 1.6rem;
		color: #002D46;
		font-weight: bold;
		position: relative;
		padding-left: 21px;
		margin-bottom: 12px;
		@include sp {
			margin-bottom: 14px;
		}
		&:before {
			content: "";
			width: 12px;
			height: 12px;
			background: #002D46;
			border-radius: 50px;
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
		@include sp {
			line-height: 1.6;
		}
	}
}


/*
------------------------------------------------------------*/
.c-list3 {
	li {
		border-bottom: 1px solid #E3E1DD;
		padding: 60px 0 56px;
		@include sp {
			padding: 46px 0 49px;
		}
		&:first-of-type {
			padding-top: 0;
		}
	}
	&__tag {
		display: inline-block;
		padding: 9px 30px;
		font-size: 1.4rem;
		color: #191919;
		background: #F6F6F4;
		border-radius: 50px;
		margin-bottom: 37px;
		@include sp {
			padding: 3px 20px;
			margin-bottom: 26px;
		}
	}
	&__title {
		font-size: 1.8rem;
		color: #003046;
		font-weight: normal;
		margin-bottom: 10px;
		@include sp {
			margin-bottom: 20px;
		}
	}
	&__time {
		display: block;
		font-size: 1.4rem;
		color: #013046;
		margin-bottom: 32px;
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
	}
}