/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
	table {
		font-size: 1.4rem;
		color: #191919;
		width: 100%;
		line-height: 1.5;
		border-collapse: collapse;
		border: 1px solid $color5;
	}
	tr {
		border-bottom: 1px solid $color5;
		@include sp {
			display: block;
			border-bottom: none;
			padding: 15px 15px 12px;
		}
		&.bg {
			background: #FBFBFB;
			@include sp {
				position: relative;
				
				&:before, &:after {
					content: "";
					width: 100%;
					height: 1px;
					position: absolute;
					left: 0;
					background: $color5;
					z-index: -1;
				}
				&:before {
					top: -1px;
				}
				&:after {
					bottom: -1px;
				}
			}
		}
	}
	td {
		border-right: 1px solid $color5;
		padding: 27px 0 27px 2%;
		vertical-align: top;
		@include sp {
			display: block;
			border-right: none;
			padding: 0 0 7px 0;
		}
		&:last-of-type {
			text-align: right;
			width: 16.9%;
			padding-left: 1%;
			padding-right: 2%;
			@include sp {
				width: 100%;
				text-align: left;
				padding: 0;
			}
		}
		&.title {
			@include sp {
				font-size: 1.6rem;
			}
		}
		&.title2 {
			width: 14.3%;
			@include sp {
				width: 100%;
				margin: 5px 0;
			}
		}
		&.title3 {
			width: 30%;
			@include sp {
				width: 100%;
				margin: -13px 0 20px;
			}
		}
		&.title3_item {
			@include sp {
				padding-left: 10px;
				position: relative;
				margin-top: -19px;
				&:before {
					content: "・";
					font-size: 1.4rem;
					color: #191919;
					position: absolute;
					top: -1px;
					left: -6px;
				}
				~ td {
					padding-left: 11px;
				}
			}
		}
	}
}