/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
	position: relative;
	&__image {
		img {
			width: 100%;
			height: auto;
		}
	}
	&__box {
		position: absolute;
		top: 20px;
		right: 40px;
		@include sp {
			top: 15px;
			right: 15px;
		}
	}
	&__title {
		font-size: 1.4rem;
		color: $color1;
		position: relative;
		margin-bottom: 6px;
		&:before {
			content: "";
			width: 24px;
			height: 20px;
			background-image: url(/assets/img/common/icon2.png);
			background-size: 100% auto;
			background-repeat: no-repeat;
			position: absolute;
			top: -30px;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include sp {
				width: 15px;
				height: 12px;
				top: -17px;
			}
		}
		@include sp {
			font-size: 0.8rem;
			margin-bottom: 4px;
		}
	}
	&__phone {
		font-size: 2.8rem;
		color: #191919;
		margin-bottom: 18px;
		@include myriad();
		@include sp {
			font-size: 1.6rem;
			margin-bottom: 12px;
		}
	}
	&__text {
		font-size: 1.1rem;
		color: #191919;
		line-height: 1.4;
		@include sp {
			font-size: 0.7rem;
		}
		.fs10 {
			font-size: 1rem;
			@include sp {
				font-size: 0.6rem;
			}
		}
		.fs12 {
			font-size: 1.2rem;
			@include myriad();
			@include sp {
				font-size: 0.7rem;
			}
		}
		.fs13 {
			font-size: 1.3rem;
			@include myriad();
			@include sp {
				font-size: 0.8rem;
			}
		}
	}
	&__icon {
		width: 20px;
		height: 20px;
		overflow: hidden;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		position: absolute;
		left: 50%;
		bottom: 34px;
		margin: 0 auto;
		transform: translateX(-50%) rotate(45deg);
	}
}

/*
------------------------------------------------------------*/
.c-new {
	background: $color3;
	color: #fff;
	&__inner {
		width: 100%;
		min-height: 50px;
		max-width: $baseWidth1;
		margin: 0 auto;
		padding: 11px 39px 10px;
		display: flex;
		align-items: center;
	}
	&__title {
		width: 90px;
		font-size: 1.8rem;
		border-right: 1px solid #fff;
		@include mincyo();
	}
	&__info {
		width: calc(100% - 90px);
		font-size: 1.4rem;
		padding-left: 20px;
		a {
			text-decoration: none;
			color: #fff;
		}
		span {
			display: inline-block;
			margin-right: 15px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-note {
	font-size: 1.2rem;
	color: #191919;
	span {
		margin-right: 8px;
		@include sp {
			margin-right: 2px;
		}
	}
	ul {
		margin-top: 8px;
		li {
			margin-bottom: 2px;
			position: relative;
			padding-left: 30px;
			@include sp {
				padding-left: 22px;
				line-height: 1.6;
				margin-bottom: 3px;
			}
			&:before {
				content: "・";
				font-size: 1.2rem;
				color: #191919;
				position: absolute;
				top: 0;
				left: 15px;
				@include sp {
					left: 9px;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block1 {
	background: #F6F6F4;
	padding: 53px 0 59px;
	@include sp {
		padding: 44px 0 94px;
		position: relative;
		.c-title1 {
			position: static;
			&__link {
				top: auto;
				bottom: 46px;
				right: 30px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block2 {
	width: 100%;
	height: 212px;
	background-image: url(/assets/img/top/bg1.jpg);
	background-size: cover;
	background-position: center;
	padding: 30px 35px 0 40px;
	&__inner {
		width: 595px;
	}
	&__title {
		text-align: center;
		font-size: 1.6rem;
		color: #002D47;
		background: #fff;
		border-radius: 50px;
		padding: 9px 0 7px 10px;
		margin-bottom: 28px;
	}
	&__content {
		display: flex;
	}
	&__col {
		&:nth-child(1) {
			width: 284px;
			border-right: 1px solid #fff;
		}
		&:nth-child(2) {
			width: calc(100% - 284px);
			padding-left: 40px;
		}
	}
	&__text {
		font-size: 1.4rem;
		color: $color1;
	}
	&__phone {
		font-size: 3.2rem;
		color: #191919;
		margin-top: 22px;
		padding-left: 33px;
		position: relative;
		@include myriad();
		&:before {
			content: "";
			width: 24px;
			height: 19px;
			background-image: url(/assets/img/common/icon2.png);
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 48%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	.c-btn1 {
		margin-top: 15px;
		width: 270px;
		height: 48px;
		a {
			font-size: 1.8rem;
			&:before {
				top: 16px;
				left: 27px;
			}
			&:after {
				width: 8px;
				height: 8px;
				top: 20px;
				right: 29px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block3 {
	text-align: center;
	padding: 60px 0 57px;
	@include sp {
		padding: 40px 0 48px;
	}
	&__logo {
		margin-bottom: 37px;
		@include sp {
			margin-bottom: 26px;
			img {
				width: 200px;
			}
		}
	}
	&__text {
		font-size: 1.6rem;
		color: #191919;
		@include sp {
			font-size: 1.4rem;
		}
		p + p {
			margin-top: 30px;
			@include sp {
				margin-top: 11px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block4 {
	background: #F8F5F0;
	padding: 54px 0 61px;
	@include sp {
		padding: 44px 0 50px;
	}
	&__title {
		text-align: center;
		font-size: 2rem;
		color: $color6;
		margin-bottom: 33px;
		@include mincyo();
		@include sp {
			font-size: 2.1rem;
			margin-bottom: 32px;
		}
	}
	&__image {
		img {
			max-width: 100%;
			height: auto;
		}
		p {
			font-size: 1.4rem;
			color: #191919;
			margin: 56px 0 37px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-block5 {
	background-image: url(/assets/img/about/bg1.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 720px;
	padding: 52px 0;
	@media screen and (max-width: 1400px) {
		background-position: center;
		min-height: auto;
	}
	@include sp {
		background: none;
		padding: 0 0 20px;
	}
	.c-title2 {
		text-align: left;
		margin-bottom: 46px;
		@include sp {
			text-align: right;
			height: 192px;
			background-image: url(/assets/img/about/bg1.jpg);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: top left;
			padding: 81px 15% 0 0;
			margin-bottom: 35px;
		}
	}
	&__inner {
		width: 100%;
		max-width: $baseWidth2;
		margin: 0 auto;
	}
	&__content {
		width: 62.4%;
		margin-left: auto;
		padding-right: 25px;
		@include sp {
			width: 100%;
			padding: 0;
		}
	}
	&__text {
		font-size: 1.8rem;
		color: #191919;
		margin-bottom: 51px;
		@include sp {
			padding: 0 15px;
			font-weight: bold;
			line-height: 1.6;
			margin-bottom: 33px;
		}
	}
	&__text2 {
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
		p {
			margin-bottom: 24px;
		}
		.mb32 {
			margin-bottom: 32px;
			@include sp {
				margin-bottom: 23px;
			}
		}
		@include sp {
			padding: 0 15px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-block6 {
	background-image: url(/assets/img/about/bg2.jpg);
	background-color: #F8F5F0;
	background-size: auto 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 645px;
	padding: 55px 0;
	@include sp {
		min-height: auto;
		background: none;
		background-color: #F8F5F0;
		padding: 0 0 44px;
	}
	.c-title2 {
		margin-bottom: 48px;
		@include sp {
			height: 282px;
			text-align: left;
			background-image: url(/assets/img/about/bg2.jpg);
			background-size: auto 114%;
			background-position: bottom right;
			background-repeat: no-repeat;
			padding: 121px 0 0 15px;
			margin-bottom: 37px;
		}
	}
	&__inner {
		width: 100%;
		max-width: $baseWidth2;
		margin: 0 auto;
	}
	&__content {
		width: 52%;
		padding-left: 20px;
		@include sp {
			width: 100%;
			padding: 0 15px;
		}
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
		margin-bottom: 52px;
		@include sp {
			margin-bottom: 35px;
		}
	}
	&__text2 {
		font-size: 1.2rem;
		color: #191919;
		line-height: 1.6;
		.fs14 {
			font-size: 1.4rem;
		}
		.fs20 {
			font-size: 2rem;
			margin-left: 20px;
			@include sp {
				margin-left: 4px;
			}
		}
		p {
			margin-bottom: 8px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-block7 {
	display: flex;
	@include sp {
		display: block;
		padding: 0 15px;
		margin-bottom: 38px;
	}
	&.is-reverse {
		flex-direction: row-reverse;
	}
	&__image {
		width: 50%;
		@include sp {
			width: 100%;
			margin-bottom: 35px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__info {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		@include sp {
			width: 100%;
			display: block;
			padding: 0;
		}
	}
	&__inner {
		padding-left: 8px;
		@include sp {
			padding-left: 0;
		}
	}
	&__title {
		font-size: 1.8rem;
		color: #191919;
		font-weight: normal;
		margin-bottom: 12px;
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
	}
}

/*
------------------------------------------------------------*/
.c-block8 {
	&__box {
		background: #F6F6F4;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 95px;
		position: relative;
		@include sp {
			padding: 15px;
			flex-direction: column-reverse;
		}
		&:after {
			content: "";
			width: 16px;
			height: 16px;
			border-right: 3px solid #023046;
			border-bottom: 3px solid #023046;
			position: absolute;
			left: 50%;
			bottom: -50px;
			transform: translateX(-50%) rotate(45deg);
		}
		&:last-of-type {
			margin-bottom: 0;
			&:after {
				display: none;
			}
		}
	}
	&__box2 {
		width: 100%;
		background: #fff;
		margin-top: 40px;
	}
	&__info {
		width: 55%;
		padding-right: 40px;
		@include sp {
			width: 100%;
			padding-right: 0;
		}
	}
	&__image {
		width: 45%;
		text-align: right;
		@include sp {
			width: 100%;
			text-align: center;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__title {
		font-size: 2.6rem;
		color: #013046;
		margin: -8px 0 20px;
		@include mincyo();
		@include sp {
			margin: 29px 0 18px;
			font-size: 2.1rem;
		}
	}
	&__time {
		font-size: 1.4rem;
		color: #191919;
		position: relative;
		padding-left: 35px;
		margin-bottom: 36px;
		@include sp {
			font-size: 1.6rem;
			padding-left: 30px;
			margin-bottom: 24px;
		}
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(/assets/img/common/icon3.png);
			background-size: cover;
			position: absolute;
			top: 1px;
			left: 0;
		}
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
		@include sp {
			font-size: 1.6rem;
			padding-bottom: 15px;
		}
	}
	&__text2 {
		font-size: 1.4rem;
		color: #002145;
	}
	&__phone {
		font-size: 3.2rem;
		color: #191919;
		white-space: nowrap;
		padding-left: 33px;
		margin-top: 21px;
		position: relative;
		@include myriad();
		&:before {
			content: "";
			width: 24px;
			height: 19px;
			background-image: url(/assets/img/common/icon2.png);
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 48%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&__contact {
		display: flex;
	}
	&__col1 {
		width: 33%;
		font-size: 1.4rem;
		color: #002D47;
		border-right: 1px solid #F6F6F4;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1%;
	}
	&__col2 {
		width: 304px;
		padding: 18px 1% 24px 3.4%;
	}
	&__col3 {
		width: 300px;
		padding: 18px 1% 20px 0;
		.c-btn1 {
			margin-top: 15px;
			width: 100%;
			max-width: 270px;
			height: 48px;
			a {
				font-size: 1.8rem;
				padding-left: 0;
				&:before, &:after {
					position: static;
				}
				&:before {
					margin: 0 8px 0 -8px;
				}
				&:after {
					margin: 0 -8px 0 8px;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block9 {
	background: #F8F5F0;
	padding: 53px 0 60px;
	overflow: hidden;
	@include sp {
		padding: 43px 15px 49px;
	}
	&__inner {
		width: 100%;
		max-width: $baseWidth2;
		margin: 0 auto;
	}
	.c-title2 {
		position: relative;
		z-index: 1;
	}
	&__image {
		text-align: center;
		margin: -84px 0 -28px;
		@include sp {
			margin: -8px 0 7px;
		}
	}
	&__text {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		font-size: 1.8rem;
		color: #191919;
		line-height: 1.6;
		padding: 0 2px;
		@include sp {
			font-size: 1.4rem;
			padding: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-block10 {
	$root: &;
	padding: 54px 0 14px;
	overflow: hidden;
	@include sp {
		padding: 46px 15px 46px;
	}
	.c-title2 {
		margin-bottom: 47px;
		position: relative;
		z-index: 1;
		@include sp {
			margin-bottom: 10px;
			&__text {
				font-size: 2.1rem;
				line-height: 1.3;
			}
		}
		
	}
	&__inner {
		width: 100%;
		max-width: $baseWidth2;
		margin: 0 auto;
	}
	&__info {
		display: flex;
		padding-left: 42px;
		@include sp {
			padding-left: 0;
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
	}
	&__text {
		width: 60%;
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
		position: relative;
		z-index: 1;
		@include sp {
			width: 100%;
		}
	}
	&__image {
		width: 40%;
		@include sp {
			width: 100%;
			text-align: center;
			margin-bottom: 12px;
		}
		img {
			margin: -24px 0 0 -25px;
			@include sp {
				margin: 0;
				width: 210px;
			}
		}
	}
	&--reverse {
		background: #F8F5F0;
		padding-bottom: 62px;
		@include sp {
			padding: 56px 15px 46px;
		}
		#{$root}__info {
			@include sp {
				flex-direction: column;
			}
		}
		#{$root}__text {
			padding: 0 40px 0 38px;
			@include sp {
				padding: 0;
			}
		}
		#{$root}__image {
			img {
				margin: -28px 0 0 -41px;
				@include sp {
					margin: -17px 0 4px -23px;
					width: 262px;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-block11 {
	padding: 53px 0 56px;
	@include sp {
		padding: 45px 15px 48px;
	}
	&--bg1 {
		background: #F8F5F0;
	}
	.c-title2 {
		margin-bottom: 46px;
		@include sp {
			margin-bottom: 28px;
		}
		&__text {
			@include sp {
				font-size: 2.1rem;
			}
		}
	}
	&__inner {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
	}
	&__text {
		font-size: 1.4rem;
		color: #191919;
		line-height: 1.6;
	}
}